.navbar {
    margin-bottom: 0px;
}

#section1 {
    padding-top:50px;
    height:500px;
    color: #fff; 
    background-color:rgb(78,2,0);
    font-size:25px;
}
#section2 {
    padding-top:50px;
    height:500px;
    color: #fff; 
    background-color:  rgb(196,4,11);
    font-size: 16px;
}
#section3 {
    padding-top:50px;
    height:500px;
    color: #fff; 
    background-color: rgb(255,15,25);
    font-size:25px;
}


i{
    color:red;
    font-size:20px;
}

.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
}

.affix + .container-fluid {
    padding-top: 70px;
}
#house{
    font-size:25px;
    
}

#house:hover{
    font-size:30px;
}

.sign{
    color:white;
    font-size:25px;
}
.sign:hover{
    font-size:30px;
    text-shadow: 5px 2px #2e1c1c;
    cursor: pointer;
}

.word{
    font-size:20px;
    color:white;
}
.word:hover{
    font-size:24px;
    text-shadow: 5px 5px white;
    color:white;
    cursor: pointer;
}
a{
    text-decoration: none;

}

